<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD with FastAPI / HTMX</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>CRUD Example with FastAPI and HTMX</h1>
    <form
      hx-post="http://localhost:8080/items"
      hx-trigger="submit"
      hx-target="#items-list"
      hx-swap="outerHTML"
      hx-on="htmx:afterOnLoad: clearInput(this)"
    >
      <input type="text" name="name" id='name' placeholder="Enter item name" required />
      <button type="submit">Add Item</button>
    </form>

    <div
      id="items-list"
      hx-get="http://localhost:8080/items"
      hx-trigger="load"
      hx-swap="outerHTML"
    ></div>

    <script>
      function clearInput(form) {
        const input = form.querySelector('input[name="name"]');
        input.value = '';
        input.focus();
      }
    </script>
  </body>
</html>
